<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="author" content="凹凸实验室">
    <meta name="designer" content="凹凸实验室">
    <meta name="description" content="凹凸实验室(Aotu.io) ——邮箱签名设计。你的邮箱还缺一个个性名片吗? 马上输入个人信息，一键生成，让你的每封邮件都与众不同！">
    <title>「凹凸实验室」－邮箱签名设计</title>
    <!-- S links -->
    <link rel="stylesheet" href="css/cropper.min.css">
    <link rel="stylesheet" href="css/sign.min.css">
    <!-- E links-->
</head>

<body id="app">
    <!--  <div class="icon" style="display:none;">
        <img src="https://misc.aotu.io/Tingglelaoo/O2-icon.png" >
    </div> -->
    <!-- S mobile -->
    <!--     <div class="o2_tip" v-if="flag.isPC">
        <i class="icon_logo"></i>
        <p class="name">邮箱签名设计</p>
        <p>/一键生成，让你的每封邮件都与众不同/</p>
        <small>暂不支持移动端使用，请使用PC端浏览</small>
    </div> -->
    <!-- E mobile -->
    <main class="o2_mail_sign" v-if="!flag.isPC">
        <!-- S cover -->
        <div class="o2_cover">
            <!-- <div class="o2_cover_hd">
                <h1><i class="o2_logo"></i>凹凸实验室</h1>
                <div class="lnks">
                    <a href="http://aotu.io/notes/">博客首页</a>
                    <a href="http://aotu.io/about/">关于凹凸</a>
                </div>
            </div> -->
            <div class="o2_cover_content">
                <div class="title">
                    <h2>邮箱签名设计</h2>
                    <small>你的邮箱还缺一个个性名片吗? 马上输入个人信息</small><small>一键生成，让你的每封邮件都与众不同</small>
                </div>
            </div>
        </div>
        <!-- E cover-->
        <!-- S warn -->
        <div class="o2_warn" v-bind:class="{'show':flag.showBowserUnsupport}">
            为了更好地体验功能，请将浏览器切换或升级至Chrome 49.x 版本以上，感谢支持！
        </div>
        <!-- E warn-->
        <div class="o2_main_left">
            <!-- S content -->
            <div class="o2_content">
                <div class="o2_content_slider" v-bind:class="{'slide':flag.showColorSetting}">
                    <!-- S input -->
                    <div class="o2_form">
                        <div class="o2_form_row o2_input_required">
                            <label for="image" class="o2_label">头像</label>
                            <div class="o2_input_file">
                                <span class="o2_input_name">上传图片</span>
                                <input type="file" class="J_uploadImage" data-dest="">
                            </div>
                        </div>
                        <div class="o2_form_row">
                            <label for="e_name" class="o2_label">英文名</label>
                            <input type="text" class="o2_input_text" name="e_name" placeholder="英文名" v-model="info.e_name" debounce="500">
                        </div>
                        <div class="o2_form_row">
                            <label for="c_name" class="o2_label">中文名</label>
                            <input type="text" class="o2_input_text" name="c_name" placeholder="中文名" v-model="info.c_name" debounce="500">
                        </div>
                        <div class="o2_form_row">
                            <label for="group" class="o2_label">所属部门</label>
                            <input type="text" class="o2_input_text" name="group" placeholder="无线安全产品部 | 设计中心 | UI" v-model="info.group" debounce="500">
                        </div>
                        <div class="o2_form_row">
                            <label for="phone" class="o2_label">手机号码</label>
                            <input type="text" class="o2_input_text" name="phone" placeholder="手机号码" v-model="info.contact.phone" debounce="500">
                        </div>
                        <div class="o2_form_row">
                            <label for="call" class="o2_label">办公分机号码</label>
                            <input type="text" class="o2_input_text" name="call" placeholder="办公号码" v-model="info.contact.call" debounce="500">
                        </div>
                        <!-- <div class="o2_form_row">
                            <label for="qq" class="o2_label">QQ</label>
                            <input type="text" class="o2_input_text" name="qq" placeholder="QQ" v-model="info.contact.qq" debounce="500" >
                        </div>
                        <div class="o2_form_row">
                            <label for="wechat" class="o2_label">微信</label>
                            <input type="text" class="o2_input_text" name="wechat" placeholder="微信" v-model="info.contact.wechat" debounce="500" >
                        </div> -->
                        <!-- <div class="o2_form_row">
                            <div class="o2_btns btn_download">
                                <a href="javascript:;" class="o2_btn bg1 " v-on:click="downloadRes()">生成签名</a>
                            </div>
                        </div> -->
                    </div>
                    <!-- E input -->
                    <!-- S more -->
                    <div class="o2_form">
                        <div class="o2_form_row">
                            <label class="o2_label">二维码</label>
                            <div class="o2_input_file">
                                <span class="o2_input_name">上传图片</span>
                                <input type="file" class="J_uploadImage" data-dest="img">
                            </div>
                        </div>
                        <!--  <div class="o2_form_row">
                            <label  class="o2_label">分割线</label>
                            <div class="o2_input_color">
                                <input type="color"  v-model="style.co_line">
                                <input type="text" class="o2_input_text"  v-model="style.co_line | formatColor" debounce="500">
                            </div>
                        </div> -->
                        <div class="o2_form_row">
                            <label class="o2_label">姓名文字颜色</label>
                            <div class="o2_input_color">
                                <input type="color" v-model="style.co_title">
                                <input type="text" class="o2_input_text" v-model="style.co_title | formatColor" debounce="500">
                            </div>
                        </div>
                        <div class="o2_form_row">
                            <label class="o2_label">信息文字颜色</label>
                            <div class="o2_input_color">
                                <input type="color" v-model="style.co_item">
                                <input type="text" class="o2_input_text" v-model="style.co_item | formatColor" debounce="500">
                            </div>
                        </div>
                        <!-- <div class="o2_form_row">
                            <label  class="o2_label">图标颜色</label>
                            <div class="o2_input_color">
                                <input type="color"   v-model="style.co_icon">
                                <input type="text" class="o2_input_text"  v-model="style.co_icon | formatColor"  debounce="500">
                            </div>
                        </div> -->
                        <div class="o2_form_row">
                            <label class="o2_label">面板底色</label>
                            <div class="o2_input_color">
                                <input type="color" v-model="style.co_bg">
                                <input type="text" class="o2_input_text" v-model="style.co_bg | formatColor" v-validate="{color:style.co_bg}">
                            </div>
                        </div>
                        <!-- <div class="o2_form_row">
                            <div class="o2_btns btn_download">
                                <a href="javascript:;" class="o2_btn bg2" v-on:click="resetColors()">重置</a>
                            </div>
                        </div> -->
                        <div class="o2_btns">
                            <!-- <a href="javascript:;" class="o2_btn bg2" v-on:click="resetColors()">重置</a> -->
                            <!-- <a href="javascript:;" class="o2_btn bg1" v-on:click="flag.showColorSetting=false">保存并返回</a> -->
                        </div>
                    </div>
                    <!-- E more-->
                </div>
            </div>
        </div>
        <!-- S main -->
        <div class="o2_main" v-bind:class="{'show':flag.needLoadSign=true}">
            <!-- <span class="o2_main_close" v-on:click="flag.needLoadSign=false;"></span> -->
            <!-- S preview -->
            <div class="o2_box">
                <span class="o2_box_type">预览一</span>
                <!-- <span class="o2_color_setting" title="配色设置" v-on:click="flag.showColorSetting = !flag.showColorSetting">配色</span> -->
                <div class="o2_sign" id="sign" :style="{ backgroundColor:style.co_bg }">
                    <div class="logo">
                        <img src="./img/avator_default.png" alt="logo">
                    </div>
                    <div class="img">
                        <img src="./img/qrcode_default.png" alt="二维码">
                    </div>
                    <!-- <div class="line" :style="{ backgroundColor:style.co_line }"></div> -->
                    <div class="info">
                        <div class="title" :style="{ color:style.co_title }">
                            <p class="e_name" v-text="info.e_name? info.e_name : 'NAME'"></p>
                            <p class="c_name" v-text="info.c_name ? info.c_name:'姓名'"></p>
                            <!-- <div class="hr" :style="{ backgroundColor:style.co_title }"></div> -->
                            <!-- <p class="group" v-text="info.group ? info.group:'所属部门'"></p> -->
                        </div>
                        <div class="contact" :style="{ color: style.co_item }">
                            <p style=" padding-bottom: 5px;" class="group" v-text="info.group ? info.group:'无线安全产品部 | 设计中心 | 视觉设计'"></p>
                        </div>
                        <div class="contact" :style="{ color: style.co_item}">
                            <div class="item">
                                <!-- <i class="icon-mobile mobile" :style="{ color:style.co_icon }"></i>  -->
                                Mobile: <p v-text="(info.contact.phone?info.contact.phone:'123-4567-8901') | formatTelNo "></p>
                            </div>
                            <div class="item">
                                <!-- <i class="icon-call call" :style="{ color:style.co_icon }"></i> -->
                                Tel: <p v-text="(info.contact.call?info.contact.call:'000000') | formatOfficeNo"></p>
                            </div>
                            <div class="item">
                                <!-- <i class="icon-qq qq" :style="{ color:style.co_icon }"></i> -->
                                <!-- <p v-text="info.contact.qq ? info.contact.qq:'your QQ'"></p> -->
                            </div>
                            <div class="item">
                                <!-- <i class="icon-wechat wechat" :style="{ color:style.co_icon }"></i> -->
                                <!-- <p v-text="info.contact.wechat ? info.contact.wechat:'your wechat'"></p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </br>
            </br>
            <!-- S preview -->
            <div class="o2_box">
                <span class="o2_box_type">预览二</span>
                <!-- <span class="o2_color_setting" title="配色设置" v-on:click="flag.showColorSetting = !flag.showColorSetting">配色</span> -->
                <div class="o2_sign" id="sign" :style="{ backgroundColor:style.co_bg }">
                    <div class="logo">
                        <img src="./img/avator_default.png" alt="logo">
                    </div>
                    <!-- <div class="line" :style="{ backgroundColor:style.co_line }"></div> -->
                    <div class="info">
                        <div class="title" :style="{ color:style.co_title }">
                            <p class="e_name" v-text="info.e_name? info.e_name : 'NAME'"></p>
                            <p class="c_name" v-text="info.c_name ? info.c_name:'姓名'"></p>
                            <!-- <div class="hr" :style="{ backgroundColor:style.co_title }"></div> -->
                            <!-- <p class="group" v-text="info.group ? info.group:'所属部门'"></p> -->
                        </div>
                        <div class="contact" :style="{ color: style.co_item }">
                            <p style=" padding-bottom: 5px;" class="group" v-text="info.group ? info.group:'无线安全产品部 | 设计中心 | 视觉设计'"></p>
                        </div>
                        <div class="contact" :style="{ color: style.co_item}">
                            <div class="item">
                                <!-- <i class="icon-mobile mobile" :style="{ color:style.co_icon }"></i>  -->
                                Mobile: <p v-text="(info.contact.phone?info.contact.phone:'123-4567-8901') | formatTelNo "></p>
                            </div>
                            <div class="item">
                                <!-- <i class="icon-call call" :style="{ color:style.co_icon }"></i> -->
                                Tel: <p v-text="(info.contact.call?info.contact.call:'000000') | formatOfficeNo"></p>
                            </div>
                            <div class="item">
                                <!-- <i class="icon-qq qq" :style="{ color:style.co_icon }"></i> -->
                                <!-- <p v-text="info.contact.qq ? info.contact.qq:'your QQ'"></p> -->
                            </div>
                            <div class="item">
                                <!-- <i class="icon-wechat wechat" :style="{ color:style.co_icon }"></i> -->
                                <!-- <p v-text="info.contact.wechat ? info.contact.wechat:'your wechat'"></p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </br>
            <div class="o2_form_row">
                <div class="o2_btns btn_download">
                <a href="javascript:;" class="o2_btn bg2" v-on:click="resetColors()">重置</a>
                <a href="javascript:;" class="o2_btn bg1 " v-on:click="downloadRes()">下载签名</a>  
                </div>
            </div>
            <!-- E preview -->
            <!-- E content-->
        </div>
        <!-- E main-->
        <!-- S cropper -->
        <div class="o2_alert_mask" v-bind:class="{'show':flag.imgHasLoad}"></div>
        <div class="o2_alert" v-bind:class="{'show':flag.imgHasLoad}">
            <span class="o2_alert_close" v-on:click="flag.imgHasLoad=false;"></span>
            <div class="cropper">
                <div class="cropper_box" id="cropperBox">
                    <img src="http://fpoimg.com/200x200" style="width:100px;height:100px;" id="uploadPreview">
                </div>
                <div class="cropper_res_wrap">
                    <div class="cropper_res" id="cropperRes">
                        <img src="http://fpoimg.com/200x200" style="width:100px;height:100px;">
                    </div>
                </div>
            </div>
            <div class="o2_btns cropper_btn">
                <a href="javascript:;" class="o2_btn bg1" v-on:click="finishCropImage()">完成</a>
            </div>
        </div>
        <!-- E cropper -->
    </main>
    <!-- S scripts -->
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/cropper.min.js"></script>
    <script src="js/dom-to-image.min.js"></script>
    <script src="js/FileSaver.min.js"></script>
    <script src="js/sign.js"></script>
    <script src="js/share.js"></script>
    <!-- E scripts -->
</body>

</html>